{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'auctions\index.css' %}">
{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
        <li class="products">
        <a href="{% url 'admlistingpage' listing.id %}">
            <div class="productsdiv">
            <img class="productimg" src="{{ listing.listingurl }}">
            <h4 class="productname">{{ listing.listingname }}</h1>
            <h5 class="productprice">Price: ${{ listing.initbid }}.00</h2>
            <p class="productdesc">{{ listing.listingdesc }}</p>
            </div>
        </a>
        <div>
        <form action="{% url 'admindex' %}" method="post">
            {{ dform.stvdel }}
            {{ dform.stvdelid.as_hidden }}
            <input type="submit" value="Delete">
        </form>
        </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}