{% extends "auctions/layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="list-group">
	{% for category in categories %}
    <div class="list-group-item">
        <a href="{% url 'speccategory' category %}"><div>
        {{ category }}</div></a>
    </div>
    {% endfor %}
</div>
{% endblock %}