{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'auctions\listingentry.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
<h3>New Auction Entry</h3>
<br>
<div>
    {% if user.is_authenticated %}
	<form action="{% url 'listentry' %}" method="post">
        {% csrf_token %}
        {% if message %}
        	<div>{{ message }}</div>
        {% endif %}
        <div class="form-group">
            {{ lform.stvname }}
        </div>
        <div class="form-group">
            {{ lform.stvdesc }}
        </div>
        <div class="form-group">
            {{ lform.stvcat }}
        </div>
        <div class="form-group">
            {{ lform.stvurl }}
        </div>
        <div class="form-group">
            {{ lform.stvbid }}
        </div>
        <input class="btn btn-primary" type="submit" id="subbtn" value="Register">
    </form>
    {% else %}
    Not signed in.
    {% endif %}
</div>

{% endblock %}