{% extends "auctions/layout.html" %}

{% block body %}

<div>
	<h1>{{ listing.listingname }}</h1>
    <div>Owner : {{ listing.user_name }}</div>
	<div>Category : {{ listing.listingcategory }}</div>
	<div>Description : {{ listing.listingdesc }}</div>
	<div>Current highest bid : {{ listing.initbid }}</div>
	<img src="{{ listingurl }}">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
	<form action="{% url 'listingpage' listing.id %}" method="post">
        {% csrf_token %}
        {% if closed %}
        <div>Auction closed at {{ listing.initbid }}</div>
        {% else %}
        {% if user_match %}
        <input class="btn btn-primary" type="submit" value="Close bidding">
        {% else %}
        <div class="form-group">
            {{bform.stvb}}
        </div>
        <input class="btn btn-primary" type="submit" value="Register bid">
        {% endif %}
        {% endif %}
    </form>
    <form action="{% url 'listingpage' listing.id %}" method="post">
        {% csrf_token %}
        {{ wform.stvw }}
        <input class="btn btn-primary" type="submit" name="watchlist" value="Add to watchlist">
    </form>
    {% endif %}
    <div>Previous bids</div>
    {% for auctionbid0 in auctionbidall %}
    {% if auctionbid0.listingname_bid == listing.listingname %}
        <div>{{ auctionbid0 }}</div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}