{% extends "auctions/layout.html" %}

{% block body %}
<div>
	<h1>{{ listing.listingname }}</h1>
	<div>{{ listing.listingcategory }}</div>
	<div>{{ listing.listingdesc }}</div>
	<div>{{ listing.initbid }}</div>
	<img src="{{ listingurl }}">
	<form action="{% url 'listingpage' %}" method="post">
        {% if user_match %}
        <input class="btn btn-primary" type="submit" value="Close bidding">
        {% else if %}
        <div class="form-group">
            <input class="form-control" type="text" name="newbid" placeholder="Your bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Register bid">
        {% endif %}
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}