{% extends "auctions/layout.html" %}

{% block body %}
<div>
    {% if user.is_authenticated %}
	<form action="{% url 'listentry' %}" method="post">
        {% csrf_token %}
        {% if message %}
        	<div>{{ message }}</div>
        {% endif %}
        <div class="form-group">
            {{ lform.stvname }}
        </div>
        <div class="form-group">
            {{ lform.stvdesc }}
        </div>
        <div class="form-group">
            {{ lform.stvcat }}
        </div>
        <div class="form-group">
            {{ lform.stvurl }}
        </div>
        <div class="form-group">
            {{ lform.stvbid }}
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
    {% else %}
    Not signed in.
    {% endif %}
</div>

{% endblock %}