{% extends "auctions/layout.html" %}

{% block body %}
<div>
    {% if user.is_authenticated %}
	{% for listing in listings %}
    <div>
        <a href="{% url 'listingpage' listing.listing_id %}"><div>{{ listing.listingname }}</div></a>
        <div>{{ listing.listingcategory }}</div>
        <div>{{ listing.listingdesc }}</div>
        <div>{{ listing.initbid }}</div>
        <img src="{{ listing.listingurl }}">
    </div>
    {% endfor %}
    {% else %}
    <div>Not signed in.</div>
    {% endif %}
</div>

{% endblock %}